.cart-img img {
      width: 10em;
}

.carrito-vacio{
      margin-top: 5%;
      background-color: rgb(73, 73, 73);
      color: white;
      padding: 0.6%;
      font-size: 0.8em;
      font-weight: 800;
}



.cart-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 5vw 20vw;

}