.menutoggle{
      color: black;
}

.categoriesmobtitle{
      margin: 2em;
      color: #3c3c3c;

}

.categoriesmoblist {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      margin: 2em;
}

.categorymob {
      margin: 1em;
      color: #3c3c3c;
      text-decoration: none;
      font-weight: bolder;
}

@media screen and (min-width: 600px) {

      .menutoggle{
            display: none;
      }

}