*{
    margin: 0;
    padding: 0;
}



.header-navbar{
    height: 8vh;
}

.flex-row{
    position: sticky;
    top: 0;
    background-color: rgb(240, 240, 240);
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    padding: 2vh 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: none;
}



.logo{
    width: 3vw;
    opacity: 0.7;
}

.title-logo{
    font-size: 1.1rem;
    color: rgb(70, 70, 70);
    text-decoration: none;
}

.category{
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
    font-weight: 600;
}

.category:hover{
    /* box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.25); */
    transform: translateY(2px);
    color: rgb(87, 86, 86);
}

.user-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-user{
    color: rgb(70, 70, 70);
    margin: 1em;
}

.fa-user:hover{
    transform: translateY(2px);
    color: rgb(87, 86, 86);
}


@media screen and (max-width: 600px) {
    .header-navbar{
        height: 12vh;
    }

    .flex-row{
        flex-wrap: nowrap;
        position: sticky;
        top: -10vh;
        overflow-x: hidden;
    }

       .flex-row :nth-child(1) { 
         
       }

    /* .flex-row :nth-child(2) { 
        order: 1; 
    }
    .flex-row :nth-child(3) { 
        order: 2; 
    }
    .flex-row :nth-child(4) { 
        order: 3; 
    }
    .flex-row :nth-child(5) { 
        order: 4; 
    } */

    .category{
        padding-top: 10px;
        display: none;
    }


    .logodiv{
        display: flex;
        flex-direction: row;
        width: 50vw;
    }

    .user-navbar{
        transform: scale(1.4);
        background-color: transparent;
        width: 50vw;
    }

    .fa-user{
        padding-top: 1px;
    }

    .logo{
        transform: scale(3);
        margin-right: 0em;
    }

    .title-logo{
        font-size: 1em;;
    }
  }
